<link rel="stylesheet" type="text/css" href="/static/angularapp/css/profileStyle.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/angularapp/css/playgroundStyle.css"> -->

<div class="profileBackground" style="padding-top:60px">

<div class="container-fluid lifted">
  <div class="outerCoverContainer">
    <div class="profileImgContainer pull-left">
      <!-- <img class="img-rounded" src="{{myservice.user.image}}"\> -->
      <img class="profileImg img-responsive img-rounded" src="{{myservice.user.image}}"\>
    </div>
  </div>
  <div class="infoContainer">
    <div class="container nameInfo">
      <div class="col-md-4 col-md-offset-3">
        <h1> <font> {{myservice.user.firstname}} {{myservice.user.lastname}} </font></h1>
      </div>
      <!-- <div class="col-md-2 col-md-offset-3" style="padding-top: 17px"> -->
        <!-- <button type="button" class="btn btn-lg btn-info"</button> -->
        <span class="pull-right" style="padding-top: 2%;">
          <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="switchView()">
            <span class="{{currentView.upNextIcon}}" aria-hidden="true"></span> {{currentView.upNext}}
          </button>
        </span>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="profileInfo" ng-show="currentView.profileView">
  <div class="container-fluid" style="padding-top: 2%">
    <div class="panel-body" style="padding-left:0; padding-right:0">
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('summarySection')"> Summary </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('experienceSection')"> Experience </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('organizationSection')"> Organizations </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('courseSection')"> Courses </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('projectSection')"> Projects </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('volunteeringSection')"> Volunteering </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('publicationSection')"> Publications </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('languageSection')"> Languages </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('educationSection')"> Education </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('additionalInfoSection')"> Additional Info </button>
          <!-- <button class="btn jumperButtons col-md-2" ng-click="jumpTo('recommendationSection')"> Recommendations </button> -->
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('documentSection')"> Documents </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('imageSection')"> Images </button>
          <button class="btn jumperButtons col-md-2" ng-click="jumpTo('videoSection')"> Video Links </button>
    </div>
  </div>

  <!-- <div class="col-md-12" ng-repeat="section in sectionInfo" ng-include src="section.src"></div> -->
  <div class="container-fluid" ng-include src="sectionInfo.Summary.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Experience.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Organizations.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Courses.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Projects.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Volunteering.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Publications.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Languages.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Education.src"></div>  
  <div class="container-fluid" ng-include src="sectionInfo.AdditionalInfo.src"></div>
  <div class="container-fluid" ng-include src="sectionInfo.Media.src"></div>
</div>

<div class="calendarInfo" ng-show="currentView.calendarView">
  <div class="container-fluid" ng-include src="sectionInfo.Calendar.src"></div>  
</div>

<!-- </div> -->
