<div class="col-md-12" style="margin-right: 15px" ng-controller="mediaController">

<div class="panel panel-custom-infoBlock" id="documentSection">
  <div class="panel-heading">
    <text class="profileInfoCategory-title">Documents:</text>
  </div>
  <div class="panel-body">
    
    <div class="col-md-12">
      <div class="input-group">
        <label class="input-group-btn">
            <span class="btn theme-btn">
                Browse&hellip; <input style="display: none;" custom-on-change="previewUploadFile" type="file" file-model="myFile" accept="application/pdf">
            </span>
        </label>
        <input type="text" class="form-control" ng-model="uploadFileName" readonly>
      </div>
      
      <div class="col-md-12"><hr class="style-one"></div> 

    </div>

    <div class="col-md-12" ng-show=srcStatus.document>
      <div class="row">
        <button class="col-md-2 col-md-offset-5 btn btn-success" ng-click="uploadFile()">upload me</button>
      </div>
      <div class="row">
        <object class="col-md-6 col-md-offset-3 documentPreview" type="application/pdf">
          <!-- <param name="initZoom" value="fitToPage" /> -->
          <param name="view" value="fitH" />
        </object>
      </div>
      <div class="col-md-12"><hr class="style-one"></div> 

    </div>

    <div class="col-md-12" ng-repeat="docs in documentData" ng-if="$index % 4 == 0" style="padding-bottom: 10px">
      <div class="col-md-3 letter-box" ng-show="documentData[$index].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this document?" ng-really-click-media="deleteDocument($index)"></span>
        <img class="profileImageLib best_thumbnail" width="100%" ng-click = "showPDF(documentData[$index].src)" ng-src="{{documentData[$index].src}}">
      </div>
      <div class="col-md-3 letter-box" ng-show="documentData[$index + 1].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this document?" ng-really-click-media="deleteDocument($index + 1)"></span>
        <img class="profileImageLib best_thumbnail" width="100%" ng-click = "showPDF(documentData[$index + 1].src)" ng-src="{{documentData[$index + 1].src}}">
      </div>
      <div class="col-md-3 letter-box" ng-show="documentData[$index + 2].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this document?" ng-really-click-media="deleteDocument($index + 2)"></span>
        <img class="profileImageLib best_thumbnail" width="100%" ng-click = "showPDF(documentData[$index + 2].src)" ng-src="{{documentData[$index + 2].src}}">
      </div>
      <div class="col-md-3 letter-box" ng-show="documentData[$index + 3].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this document?" ng-really-click-media="deleteDocument($index + 3)"></span>
        <img class="profileImageLib best_thumbnail" width="100%" ng-click = "showPDF(documentData[$index + 3].src)" ng-src="{{documentData[$index + 3].src}}">
      </div>
    </div>

    <div class="col-md-12"><hr class="style-one"></div> 
  </div>
</div>


<div class="panel panel-custom-infoBlock" id="imageSection">
  <div class="panel-heading">
    <text class="profileInfoCategory-title">Images:</text>
  </div>
  <div class="panel-body">
    
    <div class="col-md-12">
      <div class="input-group">
        <label class="input-group-btn">
            <span class="btn theme-btn">
                Browse&hellip; <input style="display: none;" custom-on-change="previewUploadImage" type="file" file-model="myFile" accept="image/jpeg, image/png">
            </span>
        </label>
        <input type="text" class="form-control" ng-model="uploadImageName" readonly>
      </div>
      <div class="col-md-12"><hr class="style-one"></div> 
    </div>

    <!-- <div class="col-md-12 item">
      <div ng-show=srcStatus.image>
        <img class="imagePreview" width="200px">
        <button class="btn btn-success" ng-click="uploadFile()">upload me</button>
      </div>  
    </div> -->
    <div class="col-md-12" ng-show=srcStatus.image>
      <div class="row">
        <button class="col-md-2 col-md-offset-5 btn btn-success" ng-click="uploadFile()">upload me</button>
      </div>
      <div class="row">
        <!-- <object class="col-md-8 col-md-offset-2 imagePreview" type="ima/pdf"></object> -->
        <img class="col-md-4 col-md-offset-4 imagePreview">
      </div>
      <div class="col-md-12"><hr class="style-one"></div> 
    </div>

    <div class="col-md-12" ng-repeat="imgs in imageData" ng-if="$index % 4 == 0">
      <div class="col-md-3 letter-box" ng-show="imageData[$index].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Image?" ng-really-click-media="deleteImage($index)"></span>
        <img class="profileImageLib" width="100%" class="best_thumbnail" ng-src="{{imageData[$index].src}}" data-toggle="modal" data-target="#imageModal" ng-click="getCurrentImage($index)">
      </div>
      <div class="col-md-3 letter-box" ng-show="imageData[$index + 1].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Image?" ng-really-click-media="deleteImage($index + 1)"></span>
        <img class="profileImageLib" width="100%" class="best_thumbnail" ng-src="{{imageData[$index + 1].src}}" data-toggle="modal" data-target="#imageModal" ng-click="getCurrentImage($index+1)">
      </div>
      <div class="col-md-3 letter-box" ng-show="imageData[$index + 2].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Image?" ng-really-click-media="deleteImage($index + 2)"></span>
        <img class="profileImageLib" width="100%" class="best_thumbnail" ng-src="{{imageData[$index + 2].src}}" data-toggle="modal" data-target="#imageModal" ng-click="getCurrentImage($index+2)">
      </div>
      <div class="col-md-3 letter-box" ng-show="imageData[$index + 3].src" style="text-align: center">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Image?" ng-really-click-media="deleteImage($index + 3)"></span>
        <img class="profileImageLib" width="100%" class="best_thumbnail" ng-src="{{imageData[$index + 3].src}}" data-toggle="modal" data-target="#imageModal" ng-click="getCurrentImage($index+3)">
      </div>
    </div>

    <div class="col-md-12"><hr class="style-one"></div> 
  </div>
</div>

  
<div class="panel panel-custom-infoBlock" id="videoSection">
  <div class="panel-heading">
    <text class="profileInfoCategory-title">Videos:</text>
  </div>
  <div class="panel-body">

    <div class="col-md-12">
      <div class="input-group">
        <label class="input-group-btn">
            <span class="btn theme-btn" >
                Link: <input style="display: none;">
            </span>
        </label>
        <input type="text" class="form-control" ng-model="uploadVideoLink" paste-Video-Link>
        <label class="input-group-btn">
            <span class="btn btn-success">
                Preview <input style="display: none;">
            </span>
        </label>
      </div>
      <div class="col-md-12"><hr class="style-one"></div> 
    </div>

    <div class="col-md-12" ng-show=srcStatus.video>
      <div class="row">
        <button class="col-md-2 col-md-offset-5 btn btn-success" ng-click="uploadlink()">upload me</button>
      </div>
      <div class="row">
        <!-- <div class="col-md-4 col-md-offset-4"> -->
        <embed-video class="col-md-4 col-md-offset-4 videoPreview" ng-href="{{uploadVideoLink}}" width="100%">
        <!-- <img class="col-md-4 col-md-offset-4 videoPreview"> -->
        </embed-video>
        <!-- </div> -->
      </div>
      <div class="col-md-12"><hr class="style-one"></div> 
    </div>

    <div class="col-md-12" ng-repeat="vids in videoData" ng-if="$index % 4 == 0">
      <div class="col-md-3 letter-box" ng-show="videoData[$index].src">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Embedded Video?" ng-really-click-media="deleteVideo($index)"></span>
        <embed-video width="100%" iframe-id="vimeo1" api="1" player_id="vimeo1" ng-href={{videoData[$index].src}}>
        <a href="{{videoData[$index].src}}">Watch</a></embed-video>
      </div>
      <div class="col-md-3 letter-box" ng-show="videoData[$index + 1].src">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Embedded Video?" ng-really-click-media="deleteVideo($index + 1)"></span>
        <embed-video width="100%" iframe-id="vimeo1" api="1" player_id="vimeo1" ng-href="{{videoData[$index + 1].src}}">
        <a href="{{videoData[$index + 1].src}}">Watch</a></embed-video>
      </div>
      <div class="col-md-3 letter-box" ng-show="videoData[$index + 2].src">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Embedded Video?" ng-really-click-media="deleteVideo($index + 2)"></span>
        <embed-video width="100%" iframe-id="vimeo1" api="1" player_id="vimeo1" ng-href="{{videoData[$index + 2].src}}">
        <a href="{{videoData[$index + 2].src}}">Watch</a></embed-video>
      </div>
      <div class="col-md-3 letter-box" ng-show="videoData[$index + 3].src">
        <span class="col-md-12 glyphicon glyphicon-remove" aria-hidden="true" style="text-align:right" 
        ng-really-message="Are you sure you want to delete this Embedded Video?" ng-really-click-media="deleteVideo($index + 3)"></span>
        <embed-video width="100%" iframe-id="vimeo1" api="1" player_id="vimeo1" ng-href="{{videoData[$index + 3].src}}">
        <a href="{{videoData[$index + 3].src}}">Watch</a></embed-video>
      </div>
    </div> 

    <div class="col-md-12"><hr class="style-one"></div>  
  </div>
</div>


<!-- Image Modal Content -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-vertical-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Images: </h4>
      </div>
      <div class="container-fluid modal-body">
      <!-- <div class="col-md-1" style="position: relative;"> -->
        <div class="col-md-1  col-xs-1 modalImg" ng-click="getPrevImage()" style="padding-top: 19%">
          <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ng-click="getPrevImage()"></span> -->
          <img class="modalImg" ng-src="static/angularapp/images/chevron-left.png"> 
        </div>
      <!-- </div> -->
        <div class="col-md-10  col-xs-10 modalImg"> 
          <img class="modalImg" ng-src={{currImageSrc}}> 
        </div>
      <!-- <div class="col-md-1" style="position: relative;"> -->
        <div class="col-md-1 col-xs-1 modalImg" ng-click="getNextImage()" style="padding-top: 19%">
          <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-click="getNextImage()"></span> -->
          <img class="modalImg" ng-src="static/angularapp/images/chevron-right.png"> 
        </div>
      <!-- </div> -->
      </div>
    </div>
  </div>
</div>

</div>